<section class="has-text-centered">
<p class="is-size-3 has-text-weight-bold">Editing brand</p>
  <%= render "form", brand: @brand %>


<br>

<div >
  <%= link_to "Show this brand", @brand, class:"button is-primary is-light "%>
  <%= link_to "Back to brands", brands_path ,class:"button is-primary is-light " %>
</div>
</section>