<section class="has-text-centered">
  <p class="is-size-3 has-text-weight-bold has-text-centered">Create a New Brand</p>


  <%= render "form", brand: @brand %>

  <br>

  <div class="button is-primary is-light ">
   <%= link_to "Back to brands", brands_path %>
  </div>
</section>